* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: none;
	background: #E6E6E6;
}

.wrapper {
	display: flex;
	/*justify-content: center;*/
}

.block {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 50px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
	width: 550px;
	min-height: 500px;
}

.b-answers {
	list-style-type: upper-latin;
	list-style-position: inside;
	text-align: left;
}

.b-answers li {
	border: 1px solid rgba(0, 0, 0, .15);
	padding: 5px 10px;
	margin: 10px 0;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s ease;
}

.b-answers li.active.on {
	background: #6ECB63;
	color: #fff;
}

.code-1 {
	position: absolute;
	left: 15px;
	top: 15px;
}

.code-2 {
	position: absolute;
	right: 15px;
	top: 15px;
}